@font-face {
    font-family: 'IBM Plex Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: black;
   

}

#major {
    max-width: 700px;
    margin: 0px auto 0px;
    padding: 40px;
    margin-top: 50px;
}



.overcompiled {
    background-color: #de1223;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

#title {
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 0px;
}

nav {
    display: inline-block;
    width: 600px;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    font-size: 1.3em;
    text-decoration: none;
}

.main {
    padding: 40px;
}

.article {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.article_date {
    color: gray;
}



.main a {
    text-decoration: none;
}

.footer {
    border-top: 1px solid white;
}

.rights {
    color: #de1223;
    margin-top: 20px;
}